petru-ciobanu/MoodWeather/MoodWeather01/Service References/WeatherService/WeatherService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MoodWeather.Service.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MoodWeather.Service.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCityList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CityList" nillable="true" type="tns:CityList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCityList" nillable="true" type="tns:ArrayOfCityList" />
  <xs:complexType name="CityList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityAlternative" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCodeTeamco" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityList" nillable="true" type="tns:CityList" />
  <xs:complexType name="ArrayOfWeatherCondition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WeatherCondition" nillable="true" type="tns:WeatherCondition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeatherCondition" nillable="true" type="tns:ArrayOfWeatherCondition" />
  <xs:complexType name="WeatherCondition">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Condition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Icon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SkyIcon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sunrise" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sunset" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TempHigh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TempLow" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeekDay" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherCondition" nillable="true" type="tns:WeatherCondition" />
</xs:schema>