petru-ciobanu/MoodWeather/MoodWeather01/Service References/CityListServices/CityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54601/CityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54601/CityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54601/CityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MoodWeather01.Service.Web" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICityService_GetCityList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCityList" />
  </wsdl:message>
  <wsdl:message name="ICityService_GetCityList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCityListResponse" />
  </wsdl:message>
  <wsdl:message name="ICityService_InsertCity_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCity" />
  </wsdl:message>
  <wsdl:message name="ICityService_InsertCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCityResponse" />
  </wsdl:message>
  <wsdl:message name="ICityService_DeleteCity_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCity" />
  </wsdl:message>
  <wsdl:message name="ICityService_DeleteCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCityResponse" />
  </wsdl:message>
  <wsdl:message name="ICityService_UpdateCity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCity" />
  </wsdl:message>
  <wsdl:message name="ICityService_UpdateCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCityResponse" />
  </wsdl:message>
  <wsdl:portType name="ICityService">
    <wsdl:operation name="GetCityList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICityService/GetCityList" message="tns:ICityService_GetCityList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICityService/GetCityListResponse" message="tns:ICityService_GetCityList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCity">
      <wsdl:input wsaw:Action="http://tempuri.org/ICityService/InsertCity" message="tns:ICityService_InsertCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICityService/InsertCityResponse" message="tns:ICityService_InsertCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCity">
      <wsdl:input wsaw:Action="http://tempuri.org/ICityService/DeleteCity" message="tns:ICityService_DeleteCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICityService/DeleteCityResponse" message="tns:ICityService_DeleteCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCity">
      <wsdl:input wsaw:Action="http://tempuri.org/ICityService/UpdateCity" message="tns:ICityService_UpdateCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICityService/UpdateCityResponse" message="tns:ICityService_UpdateCity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICityService" type="tns:ICityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCityList">
      <soap:operation soapAction="http://tempuri.org/ICityService/GetCityList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCity">
      <soap:operation soapAction="http://tempuri.org/ICityService/InsertCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCity">
      <soap:operation soapAction="http://tempuri.org/ICityService/DeleteCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCity">
      <soap:operation soapAction="http://tempuri.org/ICityService/UpdateCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CityService">
    <wsdl:port name="BasicHttpBinding_ICityService" binding="tns:BasicHttpBinding_ICityService">
      <soap:address location="http://localhost:54601/CityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>