petru-ciobanu/MoodWeather/MoodWeather01/Service References/CityListServices/CityService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MoodWeather01.Service.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MoodWeather01.Service.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfListaOrase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListaOrase" nillable="true" type="tns:ListaOrase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListaOrase" nillable="true" type="tns:ArrayOfListaOrase" />
  <xs:complexType name="ListaOrase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaOrase" nillable="true" type="tns:ListaOrase" />
</xs:schema>