petru-ciobanu/MoodWeather/MoodWeather01/Service References/EventLogService/EventLogService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MoodWeather.Service.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MoodWeather.Service.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEventSources">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventSources" nillable="true" type="tns:EventSources" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventSources" nillable="true" type="tns:ArrayOfEventSources" />
  <xs:complexType name="EventSources">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Index" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventSources" nillable="true" type="tns:EventSources" />
</xs:schema>