petru-ciobanu/MoodWeather/MoodWeather01/Service References/CityListService/CityService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MoodWeather.Service.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MoodWeather.Service.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCityLists">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CityLists" nillable="true" type="tns:CityLists" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCityLists" nillable="true" type="tns:ArrayOfCityLists" />
  <xs:complexType name="CityLists">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityAlternative" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCodeTeamco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateAdd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityLists" nillable="true" type="tns:CityLists" />
</xs:schema>